<h1>Departures</h1>
<table class="table table-bordered table-hover">
	<thead>
	<tr>
		<!-- <th>
			Time Stamp
		</th> -->
		<th>
			Origin
		</th>
		<th>
			Trip
		</th>
		<th>
			Destination
		</th>
		<th>
			Scheduled Time
		</th>
		<th>
			Track
		</th>
		<th>
			Status
		</th>
	</tr>
	</thead>
	</tbody>
	<% @departures.each do |d| %>
	<tr>
		<!-- <td>
			<%=d.time_stamp	 %>
		</td> -->
		<td<%if d.origin == 'South Station'%> style="color: green"<%else%> style="color: blue"<%end%>>
			<%=d.origin %>
		</td>
		<td>
			<%=d.trip %>
		</td>
		<td>
			<%=d.destination %>
		</td>
		<td>
			<%=d.scheduled_time %>
		</td>
		
		<td>
			<%=d.track %>
		</td>
		<td<%if d.lateness > 0%> style="color: red; font-weight: bold"<% end %>>
			<%=d.status %><%if d.lateness > 0%> (<%=d.lateness/60.ceil %> min)<% end %>
		</td>
	</tr>
	<% end %>
	</tbody>
</table>
